[default]
num_workers = 1
batch_size = 64
test_batch_size = 1000
epochs = 100
lr = 0.01
lr_cl = 0.01
momentum = 0.5
no_cuda = False
seed = 1
log_interval = 1000
ind_id = 1
exp_id = default
cl_to_find_size = 4
clust = 5
dataset = MNIST
full_clust = False
batch_period = 2
noise = 0
harddecision = True
pretrain = False
pretrain_cae = False
decision_clu = DE


avpool = False

clbn = True
clnblayers = 5
clker = 5
clchan = 3
clmaxpoolsize = 2
clmaxpoolsize_out = 2
cldrop = False
clnb_denselayers = 1
clsize_denselayers = 64

debn = True
denblayers = 2
deker = 3
dechan = 3
demaxpoolsize = 2
demaxpoolsize_out = 5
dedrop = False
denb_denselayers = 1
desize_denselayers = 2

encchan = 32
encnblay = 0
encker = 4
encmaxpl1 = 2
encmaxpl2 = 2
encdrop = False
enchidd_repr_size = 100
